<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>SmartPlant</title>

		<!-- Custom fonts for this template-->
		<link href="/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

		<!-- Page level plugin CSS-->
		<link href="/datatables/dataTables.bootstrap4.css" rel="stylesheet">

		<!-- Custom styles for this template-->
		<link href="/css/sb-admin.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">

		<!-- Favicon -->
		<link rel="icon" href="/images/favicon.ico">

		<!-- <script src="/js/charts.js"></script> -->

		<!-- Material Icons CDN -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
	<body>

		<div class="wrapper">
			{{{userOut}}}
		</div>

		<!-- Bootstrap core JavaScript-->
		<script src="/jquery/jquery.min.js"></script>
		<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

		<!-- Core plugin JavaScript-->
		<script src="/jquery-easing/jquery.easing.min.js"></script>

		<!-- Page level plugin JavaScript-->
		<script src="/chart.js/Chart.min.js"></script>
		<script src="/datatables/jquery.dataTables.js"></script>
		<script src="/datatables/dataTables.bootstrap4.js"></script>

		<!-- Custom scripts for all pages-->
		<script src="/js/sb-admin.min.js"></script>

		<script src="/js/charts.js"></script>

		<!-- Demo scripts for this page-->
		<script src="/js/demo/datatables-demo.js"></script>
		<script src="/js/demo/chart-area-demo.js"></script>
	</body>
</html>
